@import "tailwindcss";

:root {
  --background: linear-gradient(to bottom right, #c8dce5 0%, #b6ccda 100%);
  --foreground: #fff;
  --color1: #404354;
  --color2: #58d7c4;
  --color3: #f2cec6;
  --grid-cols-big: 1fr minmax(0, 732px) minmax(0, 450px) minmax(0, 34px) 1fr;
  --grid-rows-big: repeat(4, min-content);
}

@theme inline {
  --padding-button: 15px 80px;
}

body {
  background: var(--background);
  color: var(--foreground);
  height: 100svh;
}

.menu {
  > div span {
    position: relative;
    color: #b6ccda;

    &::after {
      content: "";
      width: 130px;
      height: 36px;
      position: absolute;
      background-color: #fff;
      border-radius: 15px;
      padding: 7px 35px;
      z-index: -1;
      top: -31%;
      left: -60%;
    }
  }

  > svg {
    height: 50px;
    width: 50px;
  }

  > div > svg {
    height: 24px;
    width: 24px;
  }

  li {
    font-size: 1.2rem;
  }
}
